body { 
  background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; 
  padding: 5%;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

/* loader */
.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECEFF1;
}
 
.bouncing-loader {
  display: flex;
  justify-content: center;
}
 
.bouncing-loader > div {
  width: 1.5rem;
  height: 1.5rem;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
 
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
 
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
 
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.date{
  padding: 0;
  text-align: center;
  margin: 0 5%;
  line-height: 5px;
  .date h1{
      font-weight: bold;
  }
}

.verticalAlign{
  text-align: right;
  float: right;
} 

.verticalAlign input{
  display: block;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
tr{
  display: table-row;
  border-bottom: 1px solid #ddd;
  height: 20%;
}
th, td {
  padding: 1%;
}
thead {
  padding: 1%;
  font-size: 20px;
}
tr #addplayerRow{
  border-bottom: none;
  text-align: center;
  width: 100%;
}

.arrowbutton{
  text-align: center;
  height: inherit;
  width: 2%;
  font-size: larger;
  font-weight: bold;
}

.vertical{
  display:flex; 
  flex-direction: column; 
  align-items: center;
}

.horizontal{
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.centered{
  text-align: center;
}

.clickable{
  cursor: pointer;
}

.highlights:hover{
  background-color: #ddd;
}

/* toolbar */
.toolbar {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 1;
    }
    ul.toolbar li {
      display: inline;
      list-style-type: none;
      margin: 0;
    }
    ul.toolbar {
      padding: 0;
    }
    ul.toolbar li a {
      text-decoration: none;
      padding: 14px 16px;
      display: inline-block;
      transition: 0.3s;
      color: inherit;

    }
    ul.toolbar li a:hover {
        background-color: #ddd;
    }

    .active {
      background-color: #ccc;
    }

    a:visited{
      color: inherit;
    }
    .sticky {
      position: sticky;
      top: 0;
    }
  
  .animatedLoad{
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  .playerRow:hover {
    background-color: #ddd;
  }

  #playerNameBox {
    font-size: 1rem;
    border-width: 0px;
    border-style: solid;
    background: transparent;
    outline: transparent;
    width: 100%;
    text-align: left;
    color: #aaa;
    display: table-row;
  }

  .elogain{
    background-color: #77DD77;
  } 
  .elogain:hover{
    background-color: #54d454
  } 

  .eloloss{ 
    background-color: #ff6961;
  }

  .eloloss:hover{ 
    background-color: #ff4e45;
  }

  .gamelog{
    width: 100%;
  }
  
  .playerCell:hover {
    background-color: #ddd;
  }

/* REPORT SCORE */
.scoreReport{
  padding-top: 10px;
  width: 100%;
}

/* dropdown menu */
.dropbtn {
  display:block;
  width: 100%;
  height: 100%;  
  border: none;
  cursor: pointer;
  padding: 10px 10px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ddd;
}

.dropdown {
  display:block;
  text-align: center;
}

#dropdownOptions{
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#dropdownSearch{
  padding: 10px 10px;
  font-size: 1rem;
  border-width: 0px;
  border-style: solid;
  background: transparent;
  outline: transparent;
  width: 100%;
  text-align: left;
  color: #aaa;
}

.dropdown-hide {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-show a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown-show {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* report score buttons and statusmsg */
.scoreReportButton{
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
  background-color: #ddd;
}

.createAccountButton{
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
}

.swapTeamsButton{
  border: none;
  border-radius: 25px;
  width: 10%;
  padding: 15px;
  background-color: #ddd;
}

.scoreReportButton:hover{
  background-color: #ccc;
}

#submitGame{
  text-align: right;
}

.statusmsg{
  color: #ff6961;
  overflow: hidden;
  text-align: center;
}

.rankImg{
  height: 2em;
  width: auto;
  vertical-align:middle;
}
 
#teambutton{
  margin-bottom: 5%;
  outline: none;
  cursor: pointer;

}

.teambutton_selected{
  background-color: #bbb;
}

.teambutton_unselected{
  background-color: inherit;
}

.teambutton_unselected:hover{
  background-color: #ccc;
}

#teambutton{
  outline: none;
  cursor: pointer;
  border-radius: 10%;
  font-size: medium;
  font-weight: bold;
  margin: 2px;
}

#teambutton::first-letter{
  text-transform: capitalize;
}

#textInput{
  border-radius: 6px;
  outline: transparent;
  background-color: transparent;
  padding: 12px 20px;
}

.optionButton{
  padding: 10px 10px;
  margin: 2px;
  border-radius: 6px;
  width: 45%;
  font-size: medium;
  text-align: left;
}

.optionButton:hover{
  background-color: #fff;
}

#addTeamButton{
  padding: 10px 10px;
  border-radius: 6px;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
#addTeamButton:hover{
  background-color: #ccc;
}
#addTeam{
  padding: 10px 10px;
  background-color: inherit;
  border-radius: 10px;
  margin: 5px;
  width: 20%;
}

#deleteTeam{
  padding: 10px 10px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 5px;
}